mixin something(element, id)
  #{element}(href='blah', id='junk#{id}').doggy Hello World

mixin something2(id)
  +something('div', id)

+something('p', 1)
+something2(2)

p Interpolate #{'1 < 2 should be escaped >&3'}
